*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}


.top{
    background-image: url(bckgrond.png);
    height: 600px;
    
}
.header{
   
   margin: 0px;
   padding: 0px;
   position: fixed;
}

 
.main{
    color: white;
    /* margin-top: 0px; */
    padding-top: 200px;
   padding-left: 250px;
   
} 
.secondline{
    color: rgb(10, 173, 237);
    
}
.offcan{
    width: 255px;
    /* margin-top: 100px; */
    position: fixed;

}
.quote{
    border: 2px rgb(9, 174, 240) solid;
    border-radius: 100px;
    background-color:rgb(15, 181, 247);
    color: white;
}
.listcls{
    
    font-size: 20px;
    list-style-type: none;
    text-transform: capitalize;
    /* padding: 35px; */
}
ul li a{
    text-decoration: none;
    color: black;
   
}
.child{
    margin-top: 14px;
    border-bottom: 2px solid wheat;
}
ul :hover{
    background-color:skyblue;
    color: white;

}
.expert{
    font-size: 100px;
    text-align: center;
    color: rgb(226, 220, 220);
    
}
.subexpert{
    text-align: center;
   margin-top: -30px;

}
.box{
    justify-content: center;
}
.firstcol{
    border: 2px whitesmoke solid;
    border-radius: 30px;
    background-color:whitesmoke;
    margin-left: 20px;
    width: 31%;
    margin-top: 20px;
    padding: 5px;
}
.firstcol:hover{
    background-color: rgb(7, 180, 248);
}
.logobox{
    /* background-image: url(bcklogo.jpg); */
    background-color: rgb(222, 194, 248);
    width: 100%;
    
}
.logoes{
    margin-top: 20px;
}
.logoesdata{
    margin-top: 20px;
    background-color: rgb(222, 194, 248);
    /* margin-left: 35px; */
}
.one{
    border-right: 2px black dotted; 
}

.corimg{
    
    height: 200px;

}
.vid{
    position:relative
}
.vidinfo{
position: absolute;
top:40%;
left: 17%;
color: white;
}
.vidinfo1{
    position: absolute;
    top:50%;
    left: 17%;
    color:black
    }
.crd{
   
   justify-content: center;
   margin-top: 10px;
}
.carddiv{
    background-color:rgb(207, 203, 203);
    height: 280px;
    width: 300px;
    padding:20px;

    margin-left: 50px;
}
.footer{
    background-image: url(footbcack.jpg);
    background-size: cover;
    
}
.footerimg{
    margin-left: 90%;
    margin-top: 10%;
    position:fixed;

}